body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 400px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .black-block {
    width: 100%;
    height: 100%;
    background-color: black;
  }
  